<section class="section testimonial" id="testimonial">
  <div class="container">
    <div class="testimonial-title">
      <h2 class="testimonial-head">
        Щасливі історії, <br class="desktop-br" />що надихають
      </h2>
      <p class="testimonial-text">
        Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
      </p>
    </div>
    <div class="swiper testimonials-swiper">
      <div class="swiper-wrapper testimonials-wrapper"></div>
      <div class="swiper-controls">
        <div class="swiper-pagination testimonials-pagination"></div>
        <div class="testimonial-navigation-buttons"></div>
      </div>
    </div>
  </div>
</section>
