.faq-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    padding: 80px 0;
}

#faq {
    background-color: #f6f4f1;
    padding: 0 224px;
}

#faq .ac {
    background-color: #eee9e3;
    border-radius: 8px;
    margin: 0;
}

#faq .ac-text {
    padding: 0;
}

#faq .ac-trigger {
    padding: 0;
}

#faq .ac-panel {
    margin-left: 24px;
    margin-right: 24px;
} 

#panel p {
    margin-bottom: 24px;
}



.accordion {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 80px;
}







.ol-list {
    padding: 0px 24px 24px;
}




.btn-p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #02060a;
    padding: 20px 24px; 
    margin: 0;
    text-align: left;

}



.icon-plus {
    position: absolute;
    right: 21.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}










.ac-panel .custom-list {
    list-style: disc;
    padding-left: 24px;
    margin-bottom: 24px;
}
 





.ac-panel .custom-list li {
    display: list-item;
    margin-bottom: 8px;
}



.ac .ac-trigger::after {
    display: none;
}




/* ********* */

.icon {
    position: absolute;
        right: 21.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        transition: opacity 0.3s ease;
}

.icon-close {
    display: none;
}

.ac.is-active .icon-plus {
    display: none;
}

.ac.is-active .icon-close {
    display: inline-block;
}