/* mobile: 320–374 — гумова */
@media screen and (max-width: 374px) {}

/* mobile adaptive */
@media screen and (min-width: 375px) {}

.products {
    padding: 64px 0 32px;

    background-color: #f6f4f1;
}
.container {
    display: flex;
}
.products-container {
    display: flex;
    flex-direction: column;
}

.products-thumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
}
.products-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
}
.products-text {
    font-family: "IBM Plex Sans", sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #02060a;
}

.categories-list {
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    gap: 32px;
    margin-bottom: 32px;
}
.categories__btn {

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #02060a;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 10px 16px;
    border-radius: 100px;
    border: 1px solid transparent;

    background: transparent;
    width: auto;
    height: auto;
    cursor: pointer;
    white-space: nowrap;
}
.categories__btn-active {
    background: #eee9e3;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    align-items: stretch;
    
    gap: 32px;
    margin-bottom: 40px;
}

.products-item {
    width: 100%;
}

/* =======css for card=========== */
.product-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    border-radius: 16px;
    padding: 12px;
    width: 100%;
    height: 100%;

    background: #eee9e3;
}

.product-card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card__image {
    width: 100%;
    aspect-ratio: 311 / 245;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;  
}
.product-card__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
    
    margin-bottom: 4px;

    line-height: 1.5;
    color: #02060a;
}
.product-card__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 4px;
    
    /* line-height: 28px; */
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #02060a;
}
.product-card__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    

    margin-bottom: 11px;
    padding: 0;
    list-style: none;
}
.product-card__category {
    padding: 4px 10px;
    border-radius: 100px;
    background: rgba(2, 6, 10, 0.05);
    border: 1px solid rgba(255, 255, 255, 0);
    
    font-family: "IBM Plex Sans", sans-serif;
    
    font-weight: 600;
    font-size: 10px;

    /* line-height: 15px; */
    line-height: 1.5;
    color: #02060a;

    white-space: nowrap;
}
.product-card__meta {
    font-family: "IBM Plex Sans", sans-serif;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

    font-weight: 400;
    font-size: 10px;
    
    /* line-height: 15px; */
    line-height: 1.5;
    color: #02060a;

    margin-bottom: 16px;
}

.product-card__meta-item {

}
.product-card__info {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;

    /* line-height: 18px; */
    line-height: 1.5;
    color: #02060a;

    margin-bottom: 16px;

    flex-grow: 1; 
}
.product-card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border: 1px solid #02060a;
    border-radius: 8px;
    padding: 8px 20px;
    width: 100%;
    height: 40px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    
    /* line-height: 21px; */
    line-height: 1.5;
    color: #02060a;

    margin-top: auto;

}


.products-not-found {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.products-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    gap: 8px;
    border: 1px solid #88765c;
    border-radius: 8px;
    padding: 12px 24px;
    width: 335px;
    height: 45px;
    background: #88765c;
}


/* tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        margin: 0 auto;
    }
    .categories-list {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 24px;

    }
        .products-thumb {
            margin-bottom: 32px;
        }
    .products-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* desktop */
@media screen and (min-width: 1440px) {
    .products {
        padding: 80px 64px 32px;
    }
    .container {
        max-width: 1312px;
        margin: 0 auto;
    }
        .products-thumb {
            margin-bottom: 40px;
        }
    .categories-list {
        
        align-items: flex-start;
        gap: 24px; 
        margin-bottom: 40px; 
    }
    .products-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
        .products-item {
            width: 100%;
        }
        .products-load-more {
            width: 192px;
            height: 48px;
        }
}
